<!DOCTYPE html>
{% extends "shares/base.html" %}
{% load static from staticfiles %}
{% load bootstrap4 %}

{% block head_title %}Login{% endblock %}

{% block content_head %}
<br>
<h2 class="title is-size3">{{ title }}</h2>
{% endblock %}

{% block body_block %}
<form method="post">
        <hr />
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
                <button type="submit" class="btn btn-primary">Submit</button>
        <br>
                <a href="/account/register/">Do not have an account?</a>
        {% endbuttons %}
</form>
{% endblock %}
